<footer class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p class="copyright text-muted">
                Copyright © The Hivemind, 2023
                <br>
                Initial template by
                <a href="https://github.com/StartBootstrap/startbootstrap-clean-blog" target="_blank">
                    Start Bootstrap
                </a>
            </p>
        </div>
    </div>
</footer>